<form [formGroup]="productForm" (ngSubmit)="onProductFormSubmitted(productForm)">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput type="text" placeholder="Title" formControlName="title" required>
      <mat-error *ngIf="productForm.get('title')!.invalid">title is invalid</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Price</mat-label>
      <input matInput type="text" placeholder="Price" formControlName="price" required>
      <mat-error *ngIf="productForm.get('price')!.invalid">price is invalid</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput type="text" placeholder="Description" formControlName="description" required>
      <mat-error *ngIf="productForm.get('description')!.invalid">description is invalid</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <input matInput type="text" placeholder="Category" formControlName="category" required>
      <mat-error *ngIf="productForm.get('category')!.invalid">category is invalid</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Image</mat-label>
      <input matInput type="text" placeholder="Image" formControlName="image" required>
      <mat-error *ngIf="productForm.get('image')!.invalid">image is invalid</mat-error>
    </mat-form-field>
  </div>
  <div>
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </div>
</form>
